@page
@model ECommerceDualPrint3D.Pages.Admin.Productos.IndexModel
@{
    ViewData["Title"] = "Lista de Producto";
}

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Lista de Productos</h2>
        <a asp-page="Crear" class="btn btn alert-primary">
            <i class="fa-solid fa-plus"></i>Nuevo Producto
        </a>
    </div>

    @if (Model.Productos != null && Model.Productos.Any())
    {
        <table id="productosTables" class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Imagen</th>
                    <th>Precio</th>
                    <th>Cantidad Disponible</th>
                    <th>Categoría</th>
                    <th>Fecha de Creación</th>
                    <th>Acciones</th>
                </tr>
            <tbody>
                @foreach (var producto in Model.Productos)
                {
                    <tr>
                        <td>@producto.Id</td>
                        <td>@producto.Nombre</td>
                        <td>@Html.Raw(System.Web.HttpUtility.HtmlDecode(producto.Descripcion))</td>
                        <td>
                            <img src="@Url.Content($"~/productos/{producto.Imagen}")"
                            alt="Imagen de @producto.Nombre" style="width: 80px; height: auto;" />
                        </td>
                        @* Modificamos por el tema de la vista de precios *@
                        <td>@producto.Precio.ToString("N2", new System.Globalization.CultureInfo("es-AR")).TrimEnd('0').TrimEnd(',')</td>
                        <td>@producto.CantidadDisponible</td>
                        <td>@producto.Categoria.Nombre</td>
                        <td>@producto.FechaCreacion.ToString("dd/MM/yyy")</td>
                        <td>
                            <a asp-page="Editar" asp-route-id="@producto.Id" class="btn btn-sm btn-warning">
                                <i class="fa-regular fa-pen-to-square"></i> Editar
                            </a>
                            <a asp-page="Detalle" asp-route-id="@producto.Id" class="btn btn-sm btn-info">
                                <i class="fa-regular fa-circle-question"></i> Detalle
                            </a>

                            @Html.AntiForgeryToken()
                            <button class="btn btn-danger btn-sm btn-delete" data-id="@producto.Id" data-name="@producto.Nombre">
                                <i class="fa-solid fa-trash-can"></i> Eliminar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
            </thead>
        </table>

    }
    else
    {
        <div class=" alert alert-info role= " alert">
            No hay productos registrados aún
        </div>

    }
</div>

@section Scripts {
    <script src="~/js/productoTable.js"></script>
    <script src="~/js/eliminarProducto.js"></script>
}


